.card-issued {
  position: relative;
  flex: 0 0 250px;

  &__image {
    width: 250px;
    height: 130px;

    img {
      width: 250px;
      height: 130px;
      object-fit: cover;
    }
  }

  &__text {
    padding: 16px;
    background-color: $light-gray;
    color: $black-1;

    h4 {
      margin-bottom: 24px;
      font-size: 23px;
      line-height: 25px;
    }

    p {
      font-size: 13px;
      line-height: 17px;
      color: $gray-15;
    }
  }

  &__numbers {
    margin-bottom: 8px;
    text-transform: uppercase;

    span {
      &:first-child {
        &::after {
          content: '%';
        }
      }

      &:nth-child(2) {
        &::before,
        &::after {
          content: ' | '
        }
      }

      &:last-child {
        &::before {
          font-family: sans-serif;
          content: ' ';
        }
      }
    }
  }

  &__date {
    position: absolute;
    top: 12px;
    right: 10px;
    padding: 4px 8px;
    border-radius: $radius-small;
    font-size: 12px;
    background-color: $black-1;
    color: $white-1;

    &::before {
      content: 'Выдан: ';
    }
  }

  //
  //&:first-child {
  //  padding-left: 70px;
  //}
}
