extends Layouts/user-account-pages-layout/user-account-pages-layout.pug

block variables
  - let title = 'Restore password';
  - let username = false;
  - let footer = false;
  - let pageClassName = 'restore-password';

block styles
  link(href=require('./restore-password.scss') rel='stylesheet')

block scripts
  script(src=require('./restore-password.js') defer)

block content
