section.section.ways-of-working
  .container
    .section__wrapper.ways-of-working__wrapper
      .ways-of-working__header
        h4 Удобные способы работы с клиентами
        p Удобные способы работы с клиентами
      .ways-of-working__cards

