form.confirmation-form(id='confirmation-form', name='confirmation-form')
  .confirmation-form__title
    h4 Введите код из СМС
    p Мы отправили его вам на номер указанный шагом раньше

  .confirmation-form__inner
    include UIKit/form-control/form-control.pug
    +form-control('text', 'confirmation-code', 'Код из смс')(class='confirmation-form__code-control')
    input(type='hidden', id='confirmation-signed-data', name='SIGNED_DATA')
    .confirmation-form__buttons
      include UIKit/button/button.pug
      +button('confirmation-step-back-button', 'javascript:history.back()', 'button', 'transparent', 'Назад')(class='confirmation-form__step-back-button')
      +button('confirmation-forward-button', '', 'button', 'primary', 'Далее')(class='confirmation-form__forward-button')
