.register-oneself {


  &__container {
    display: flex;
    padding-top: 31px;
    padding-bottom: 31px;
    border-radius: $radius;
    align-items: center;
    justify-content: center;
    background-color: $olive-gray;
  }

  &__button {
    min-width: 403px;
    text-align: center;
  }
}
