section.section.register-oneself
  .container.section__wrapper.register-oneself__wrapper
    // TODO: сделать переход на страницу регистрации
    include UIKit/button/button.pug
    +button('register-oneself-button', '#', 'button', 'primary', 'Зарегистрироваться')(class='register-oneself__button')
