.register-oneself
  .container.register-oneself__container
    include UIKit/button/button.pug
    +button('register-oneself-button', '#', 'button', 'primary', 'Зарегистрироваться')(class='register-oneself__button')
