@import 'UIKit/form-control/form-control.scss';
@import 'UIKit/form-password/form-password.scss';
@import 'UIKit/form-checkbox/form-checkbox.scss';
@import 'UIKit/button/button.scss';
@import 'UIKit/form-select/form-select.scss';

.registration-form {
  display: flex;
  width: 100%;
  max-width: 459px;
  flex-direction: column;
  justify-content: center;
  row-gap: 44px;

  & > h4 {
    text-align: center;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }

  &__controls {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    column-gap: 16px;
  }
}
