form.new-password-form.full-screen-form(id='new-password-form', name='new-password-form', method='POST', action='/auth/?change_password=yes')
  .new-password-form__title.full-screen-form__title
    h4 Восстановление пароля

  .new-password-form__inner.full-screen-form__inner
    .new-password-form__controls.full-screen-form__controls
      include UIKit/form-control/form-control.pug
      +form-control('text', 'new-password-confirmation-code', 'Код из смс')(class='new-password-form__code-control', autocomplete='off')
      include UIKit/form-password/form-password.pug
      +form-control('password', 'new-password-password', 'Введите новый пароль')(class='new-password-form__new-password', autocomplete='new-password')
      +form-control('password', 'new-password-password-repeat', 'Eщё раз введите новый пароль')(class='new-password-form__new-password-repeat', autocomplete='new-password')
    .new-password-form__buttons.full-screen-form__buttons
      include UIKit/button/button.pug
      +button('new-password-step-back-button', 'javascript:history.back()', 'button', 'transparent', 'Назад')(class='new-password-form__step-back-button')
      +button('new-password-change-password-button', '', 'submit', 'primary', 'Изменить пароль')(class='new-password-form__forward-button')
