@import 'Styles/_normalize.scss';
@import 'Styles/_null-styles.scss';
@import 'Styles/_variables.scss';
@import 'Styles/_fonts.scss';
@import 'Styles/_indents.scss';
@import 'Styles/_mixins.scss';
@import 'Styles/_typography.scss';


.container {
  width: 100%;
  max-width: 1780px;
  margin: 0 auto;
}

.section {
  &__wrapper {
    border-radius: $radius;
    overflow: hidden;
  }
}
